.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #292e34 #1f293700;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #1f293700;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #292e34;
    border-radius: 10px;

}